[submodule "arch/avr/1.3.0/libraries/Remal_SHT3X"]
	path = arch/avr/1.3.0/libraries/Remal_SHT3X
	url = https://github.com/remalhq/Remal_SHT3X.git
[submodule "arch/esp32/1.3.0/libraries/Remal_CommonUtils"]
	path = arch/esp32/1.3.0/libraries/Remal_CommonUtils
	url = https://github.com/remalhq/Remal_CommonUtils.git
